@model ProductModel
@{
    ViewBag.Title = "Get by Id";
}


<div class="card">
    <div class="card-header">@ViewBag.Title</div>
    <div>
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-subtitle">@Model.Quantity</p>
    </div>
</div>